In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv('Restaurant_Reviews.tsv', delimiter='\t', quoting=3)
df.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

Stemming: Chops off the ends of words based on heuristis like 'SS' -> 'S'
Lemmatization: Respects words and reduces to morphological root

In [6]:
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()

def rep(review):
    review = re.sub('[^a-zA-Z]', ' ', review)
    review = review.lower()
    reviews = review.split()
    reviews = [stemmer.stem(x) for x in reviews if x not in stopwords.words('english')]
    review = ' '.join(reviews)
    return review

In [7]:
df['Review'] = df['Review'].apply(rep)
df.head()

                                              Review  Liked
0                                     wow love place      1
1                                         crust good      0
2                                 tasti textur nasti      0
3  stop late may bank holiday rick steve recommen...      1
4                            select menu great price      1

In [9]:
corpus = df['Review'].tolist()
corpus[:5]

[u'wow love place',
 'crust good',
 u'tasti textur nasti',
 u'stop late may bank holiday rick steve recommend love',
 u'select menu great price']

In [34]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=1500)
X = cv.fit_transform(corpus).toarray()
y = df['Liked'].tolist()

In [35]:
from sklearn.model_selection import tyrain_test_split
from sklearn.preprocessing import StandardScaler

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [42]:
from sklearn.naive_bayes import GaussianNB

clf = GaussianNB()
clf.fit(X_train, y_train)
print 'Accuracy:{0: .1f}%'.format(clf.score(X_test, y_test) * 100)

Accuracy: 73.0%