### Assumptions in Linear Regression:

#### 1. Normally distributed Residuals
Residuals should be normally distributed. This can be checked using histogram of residuals

#### 2. Little to no Multicollinearity 
Multiple regression assumes that the independent variables are not highly correlated with each other.  This assumption is tested using Variance Inflation Factor (VIF) values. One way to deal with multicollinearity is subtracting mean. 

#### 3. Homoscedasticity
This assumption states that the variance of error terms are similar across the values of the independent variables.  A plot of standardized residuals versus predicted values can show whether points are equally distributed across all values of the independent variables.

### Dummy variable trap
This occurs when there is redundant information due to OneHotEncoder. Eg if there are two cities, New York and California, then a since City_New_York with value 0 or 1 is enough to preserve the information. If you make two columns City_New_York and City_California then both will portray same information, just opposite values. This introduces multicollinearity. When there are many unrelated featueres, the model can learn a lot from those. But when there are less features, then the model will be unstable and will undergo huge changes with little change in input value.

#### Dummy variable trap can be avoided by dropping one feature off every subset of dummy variables.

In [60]:
import numpy as np
import pandas as pd

from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

# Create made up regression dataset
X, y = make_regression(n_samples=100, n_features=20, noise=0.95)
# Create a table to view it
df = pd.DataFrame(X)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.074232,1.986427,0.310052,-1.004567,0.141186,1.145350,1.400318,-0.881926,-0.843096,-1.560638,-0.566479,0.351185,0.405732,0.333857,-0.407014,0.923185,0.374436,-1.983881,0.661644,0.513339
1,-2.826229,0.627472,-1.791484,-0.006147,-1.067629,-0.323952,-1.857131,-0.084058,1.319829,-0.285186,-1.259155,-0.312493,-0.063735,-1.125292,-0.465324,0.569733,0.679675,-0.304674,1.214460,0.319342
2,0.572795,-0.370965,-0.609491,-3.127797,-0.808524,-2.604676,-1.058772,-0.980460,-1.347285,-0.886258,-2.736957,0.820368,2.309269,1.769153,-1.111227,-0.829549,0.584717,0.291793,-0.977619,-1.043986
3,-1.581389,1.714122,0.600613,0.223763,0.567996,-2.146892,0.023523,1.230237,0.521923,1.476945,1.032412,-1.282115,-0.513629,1.197274,0.867149,-1.793386,0.876216,-1.515119,-1.532318,-0.374120
4,-0.846028,-0.157537,2.246263,1.230532,-1.061811,0.806593,-0.960286,-2.075879,0.016584,0.503500,0.137756,0.172076,-0.989669,-0.549751,1.766336,0.973990,-1.347037,-1.438085,-1.793198,-0.386394

### Results on a dataset with no multicollinearity

In [63]:
# Cross Validation will fit the classifier N number of times
# and display the accuracies
cv = cross_val_score(LinearRegression(), X, y, cv=10)
print("Mean: {}".format(cv.mean()))
print("Values: {}".format(cv))

Mean: 0.999944526095
Values: [ 0.99996679  0.99996035  0.99985266  0.99996614  0.99995686  0.99994011
  0.99992176  0.99997001  0.99994873  0.99996186]

In [72]:
# Create the dataset once again. This time, introduce high
# multicollinearity by setting low rank to the input matrix
X, y = make_regression(n_samples=100, n_features=20, noise=0.95, effective_rank=1)
df = pd.DataFrame(X)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.015846,-0.010931,-0.004674,0.003822,-0.023871,-0.017512,0.044750,0.009582,-0.015291,-0.016862,0.027048,0.004653,0.012857,0.015904,-0.026063,-0.006431,0.029526,0.012398,0.005457,0.012917
1,0.020191,0.014001,0.006417,-0.003025,-0.011963,-0.007565,0.013667,-0.008957,0.036918,-0.028306,-0.010519,-0.031603,0.030384,-0.000335,0.000405,-0.029291,0.005563,-0.035104,0.023762,-0.001103
2,-0.009227,-0.013174,-0.080700,0.021887,-0.041854,0.052632,0.000175,0.017286,-0.021256,0.011598,-0.019671,-0.003535,0.047776,-0.023163,-0.007540,0.013366,-0.036634,-0.032115,-0.054735,0.030348
3,-0.033374,0.002136,0.009405,0.020186,-0.002358,-0.007324,-0.030595,0.013745,0.012005,0.001523,0.009838,0.012011,-0.009667,-0.000170,0.025990,0.012361,0.002625,-0.001620,0.021952,-0.003477
4,-0.005361,0.027710,0.027310,0.002298,0.014358,-0.010233,-0.031642,0.000922,-0.008463,-0.019281,0.018650,0.004970,0.060408,0.011731,-0.014682,-0.055579,-0.011830,0.019722,0.003625,0.003970

### Results on dataset with high multicollinearity

In [73]:
# Cross Validation will fit the classifier N number of times
# and display the accuracies
cv = cross_val_score(LinearRegression(), X, y, cv=10)
print("Mean: {}".format(cv.mean()))
print("Values: {}".format(cv))

Mean: 0.927965134304
Values: [ 0.8348102   0.95336766  0.93501047  0.95455964  0.8854501   0.95326037
  0.9354691   0.92986913  0.95585656  0.94199813]